{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react",
    "react-app",
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "@": "./src",
          "screens": "./src/screens",
          "components": "./src/components",
          "assets": "./src/assets"
        }
      }
    ]
  ]
}
